body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: beige;
}
pre {
  font-size: 7em;
}
.marks .sphere {
  fill: #fbfbfb;
}
.marks .interiors {
  fill: none;
  stroke: lightgrey;
}
.marks .graticules {
  fill: none;
  stroke: #ececec;
}
circle {
  fill: #137B80;
  opacity: 0.3;
}
.tooltip {
  color: #137B80;
}
.tooltip {
  background-color:#cdcdcd;
  color: #21234a;
  padding: 3vh;
  opacity:1;
  width: min(220px,65vw);
  border-radius: 5%;
}

.yearTab {
  border: 1px solid darkgrey;
  font-size: 11px;
  width: 35px;
}

.legend,.dim-rect {
  stroke: darkgrey;
  stroke-width: 1px;
}
.quantiles {
  font-size: 9px;
}
#dropdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#selectButton1, #selectButton2 {
  width: 80%;
}
#canvas {
  font-family: serif;
}
